<section>
    <a class="linkHome" href="#">
      <img src="../../assets/img/Panda_grande_azul.png" alt="Logo">
    </a>
    <div class="login-container">
      <a href="/login">
        <mat-icon class="back">arrow_back</mat-icon>
      </a>
      <h2>Restaurar contraseña</h2>
      <p>Introduce el correo electrónico que usaste para crear tu cuenta en Panda Planning y te enviaremos una nueva contraseña a tu bandeja de entrada.</p>
      <form (ngSubmit)="resetPassword()">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-input" required>
        <button type="submit" class="login-button">Enviar nueva contraseña</button>
      </form>
      
      <div class="error-message" [ngClass]="{'has-error': errorMessage}">
        <p *ngIf="errorMessage">{{ errorMessage }}</p>
      </div>
    </div>
  </section>