<section>
  <a class="linkHome" href="">
    <img src="../../assets/img/Panda_grande_azul.webp" alt="Logo">
  </a>
  <div class="login-container">
    <a href="">
      <mat-icon class="back">arrow_back</mat-icon>
    </a>
    <h2>Iniciar sesión</h2>
    <form (ngSubmit)="login()">
      <label for="email">Email</label>
      <input type="email" [(ngModel)]="email" name="email" class="form-input" required>
      <label for="password">Contraseña</label>
      <a routerLink="/reset-password" class="reset-password">¿Olvidaste la contraseña?</a>
      <div class="input-group">
        <input [type]="hide ? 'password' : 'text'" 
                [class.visible]="passwordFocused" 
                (focus)="passwordFocused = true" 
                (blur)="passwordFocused = false" 
                [(ngModel)]="password" 
                name="password" 
                class="form-input" 
                required>
        <button mat-icon-button matSuffix 
                type="button"
                (click)="hide = !hide" 
                [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="hide"
                class="password-toggle">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </div>
      <button type="submit" class="login-button">Acceder</button>
    </form>
    <a routerLink="/register">¿No tienes cuenta aún? Regístrate aquí</a>
    
    <div class="error-message" [ngClass]="{'has-error': errorMessage}">
      <p *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
  </div>
</section>