<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Panda Planning</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/img/Panda_grande_azul.webp">
  
  <!-- Etiquetas para mejorar el SEO -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Panda Planning: Gestiona tus proyectos y tareas con facilidad y productividad. Únete ahora.">
  <meta name="keywords" content="gestión de proyectos, tareas, colaboración, productividad">
  <meta name="author" content="Panda Planning Team">

</head>
<body>
  <!-- Mostrar app-menu si está autenticado -->
  <app-menu *ngIf="isAuthenticated"></app-menu>
  
  <!-- NO BORRAR -->
  <router-outlet *ngIf="!isAuthenticated"></router-outlet>

</body>
</html>
