<style>
  
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #8c004b;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

</style>

<h2>Panda Planning</h2>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="60"
    alt="Angular Logo"
    src="../../assets/img/IconoPrincipalAncho.png"
  />
  <a aria-label="Welcome" rel="noopener" href="/welcomeMi" title="welcome"><span>Welcome</span></a>
</div>
<router-outlet></router-outlet>
