<header>
    <div>
      <h1>Tablero del proyecto</h1>
    </div>
    <div class="notification">
      <i class="fa-solid fa-bell fa-shake"></i>
    </div>
    <app-profile-icon></app-profile-icon>
  </header>


<div class="kanban-board">
    <div class="kanban-column to-do">
        <h2>To do</h2>
        <!-- Agrega tus tarjetas aquí -->
        <div class="kanban-card">
            <h3>Eligir ubicación evento</h3>
            <p><span class="icon">👤</span>Responsable</p>
            <p><span class="icon">⚠️</span>Prioridad Baja</p>
            <p><span class="icon">✔️</span>0/2</p>
            <p><span class="icon">📅</span>23/02/2023</p>
        </div>
    <!-- Repite el div .kanban-card para más tarjetas -->
    </div>
    <div class="kanban-column in-progress">
        <h2>In progress</h2>
        <!-- Agrega tus tarjetas aquí -->
        <div class="kanban-card">
            <h3>Reunión inicial delegación</h3>
            <div class="kanban-card-row">
            <span class="kanban-icon">👤</span>
            <span class="kanban-text">Responsable</span>
            </div>
            <div class="kanban-card-row priority">
            <span class="kanban-icon">⚠️</span>
            <span class="kanban-text">Prioridad Media</span>
            </div>
            <div class="kanban-card-row">
            <span class="kanban-icon">✔️</span>
            <span class="kanban-text">1/1</span>
            </div>
            <div class="kanban-card-row">
            <span class="kanban-icon">📅</span>
            <span class="kanban-text">23/02/2023</span>
            </div>
        </div>

        <div class="kanban-card">
            <h3>Reunión inicial delegación</h3>
            <div class="kanban-card-row">
            <span class="kanban-icon">👤</span>
            <span class="kanban-text">Responsable</span>
            </div>
            <div class="kanban-card-row priority">
            <span class="kanban-icon">⚠️</span>
            <span class="kanban-text">Prioridad Media</span>
            </div>
            <div class="kanban-card-row">
            <span class="kanban-icon">✔️</span>
            <span class="kanban-text">1/1</span>
            </div>
            <div class="kanban-card-row">
            <span class="kanban-icon">📅</span>
            <span class="kanban-text">23/02/2023</span>
            </div>
        </div>
        
        <div class="kanban-card">
            <h3>Reunión inicial delegación</h3>
            <div class="kanban-card-row">
            <span class="kanban-icon">👤</span>
            <span class="kanban-text">Responsable</span>
            </div>
            <div class="kanban-card-row priority">
            <span class="kanban-icon">⚠️</span>
            <span class="kanban-text">Prioridad Media</span>
            </div>
            <div class="kanban-card-row">
            <span class="kanban-icon">✔️</span>
            <span class="kanban-text">1/1</span>
            </div>
            <div class="kanban-card-row">
            <span class="kanban-icon">📅</span>
            <span class="kanban-text">23/02/2023</span>
            </div>
        </div>
          
    </div>
    <div class="kanban-column done">
        <h2>Done</h2>
        <!-- Agrega tus tarjetas aquí -->
    </div>
</div>
  

<button mat-fab class="floating-button">
    <i class="fa-solid fa-pen-to-square card-icon"></i>
</button>
