/* Pantallas medianas: 2 columnas */
@media  (max-width: 768px) {
    .kanban-board {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px !important;
    }

    .kanban-column {
    flex: 0 1 calc(50% - 50px); /* Ajusta el ancho para 2 columnas por fila */
    }
}

/* Pantallas grandes: 3 columnas */
@media (min-width: 1024px) {
    .kanban-board {
    flex-direction: row;
    gap: 10px;
    margin: 25px !important;
    }

    .kanban-column {
    flex: 0 1 calc(33% - 50px); /* Ajusta el ancho para 3 columnas por fila */
    }
}
  

header {
    margin: 0% 3%;
    padding: 15px 15px 5px;
    border-bottom: 3px solid #a21854;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 10%;
}

header h1 {
    font-family: "Alata", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 26px;
    margin: 0px;
}

.profile img {
    width: 40px;
}  

.floating-button {
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-color: #a21854cd; /* El color que muestra tu imagen */
    color: white; /* Asumiendo que quieres el signo + en blanco */
    font-family: "Alata", sans-serif;
    font-size: 20px;
}

/* Opcional: Puedes agregar efectos para cuando el mouse pase sobre el botón o se haga clic */
.floating-button:hover {
    background-color: #a21854;
}

.floating-button:active {
    background-color: #770d3b;
}

.kanban-board {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.kanban-column {
    flex: 1;
    margin: 0 10px;
    border-radius: 8px 8px 0 0;
    min-height: 70vh; /* Por si no hubiera tarjetas */
    padding-bottom: 10px;
}

.to-do { background-color: #dff1f9; }
.in-progress { background-color: #fef6e1; }
.done { background-color: #deeedd; }

.to-do h2 { background-color: #B1DDF0; }
.in-progress h2 { background-color: #ffe8b7; }
.done h2 { background-color: #c4e9c1; }

.kanban-column h2 {
    padding: 10px;
    text-align: center;
    margin-top: 0;
    border-radius: 8px 8px 0 0;
    font-family: "Alata", sans-serif;
    font-weight: 900;
}

.kanban-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    position: relative;
}

.kanban-card h3 {
    color: #333;
    font-size: 18px;
    margin: 0 0 10px;
}

.kanban-card-row {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

.kanban-icon {
    font-size: 20px;
    margin-right: 10px;
}

.priority {
    background-color: #ffd54f;
    border-radius: 20px;
    color: #555;
    padding: 5px 15px;
}

.kanban-text {
    color: #555;
    font-size: 16px;
}

/* Agrega aquí más estilos según necesites para ajustar el diseño */
  