<mat-drawer-container class="menu-container mat-typography">
	<mat-drawer #drawer mode="side" disableClose="true" opened="true">
	  <mat-nav-list>
		<div class="header">
		  <mat-icon>
			<img src="../../assets/img/Panda_grande_azul.png" alt="Logo">
		  </mat-icon>
		  <h4><b>Panda</b></h4>
		  <h4><b>Planning</b></h4>
		</div>
		<mat-list-item>
		  <a class="menu-link" routerLink="/home">
			<mat-icon mat-list-icon>home_filled</mat-icon>
			<h4>Inicio</h4>
		  </a>
		</mat-list-item>
		<mat-list-item>
		  <a class="menu-link" routerLink="/dashboard">
			<mat-icon mat-list-icon>developer_board</mat-icon>
			<h4>Tablero</h4>
		  </a>
		</mat-list-item>
		<mat-list-item>
		  <a class="menu-link" routerLink="/home">
			<mat-icon mat-list-icon>date_range</mat-icon>
			<h4>Agenda</h4>
		  </a>
		</mat-list-item>
		<mat-list-item>
		  <a class="menu-link" routerLink="/home">
			<mat-icon mat-list-icon>mail_outline</mat-icon>
			<h4>Mensajes</h4>
		  </a>
		</mat-list-item>
		<mat-list-item *ngIf="isAdmin()">
		  <a class="menu-link" routerLink="/home">
			<mat-icon>settings</mat-icon>
			<h4>Panel admin</h4>
		  </a>
		</mat-list-item>
		<mat-list-item (click)="onLogout()">
			<div class="menu-link">
				<mat-icon mat-list-icon>logout</mat-icon>
				<h4>Cerrar sesión</h4>
			</div>
		</mat-list-item>
	  </mat-nav-list>
	</mat-drawer>
  
	<div class="example-sidenav-content">
	  <router-outlet></router-outlet>
	</div>
  </mat-drawer-container>
  